registry=https://registry.npmjs.org
@ns:registry='https://nexus.topaas.ns.nl/repository/NS_NSCAWS_CDK'
//nexus.topaas.ns.nl/repository/NS_NSCAWS_CDK:_auth='eWFPR3FqQzY6anJrZS1oM0gyUXBkZi10ZFNVNW84VkthX0VjUEUtelFkTHNsYk1zYjhHclQ='