registry=https://registry.npmjs.org
@ns:registry='https://nexus.topaas.ns.nl/repository/NS_NSCAWS_CDK'
//nexus.topaas.ns.nl/repository/NS_NSCAWS_CDK:_auth='NGRaaWUyOVg6Rm51TkRQcU5fNVRlV0lNQVNINWNuQjFuc3NybGQ3a0pVS1hMME15UUF2Ylk='